@model Costa.Entities.Department
@{
    ViewBag.Title = "Удаление отдела";
}

<h2>Удалить отдел?</h2>

<table>
    <thead>
        <tr>
            <th>Название отдела</th>
            <th>Мнемокод отдела</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Code</td>
            </tr>
    </tbody>
</table>

    <div>
        <form asp-controller="Department" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn" value="Удалить" />
            <a asp-action="DepartmentList" class="btn">Отмена</a>
            </div>
        </form>
    </div>
