@model Costa.Entities.Department

<h2>Редактирование департамента</h2>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="ParentDepartmentId">Родительский департамент:</label>
        <select asp-for="ParentDepartmentId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))">
            <option value="">Выберите родительский департамент</option>
        </select>
        <span asp-validation-for="ParentDepartment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Code">Код:</label>
        <input asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Название:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn">Сохранить</button>
    <a asp-action="DepartmentList" class="btn">Отмена</a>
</form>

