<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Costa</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Costa</a>
        <nav>            
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="EmployeesByDepartment">Сотрудники</a>
            <a class="nav-link" asp-area="" asp-controller="Department" asp-action="DepartmentList">Отделы</a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2023 - Costa - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
