@model Costa.Models.EmployeeViewModel

<h2>Создание нового сотрудника</h2>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="EmployeeViewModelId" />

    <div class="form-group">
        <label asp-for="SurName">Фамилия</label>
        <input asp-for="SurName" />
        <span asp-validation-for="SurName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName">Имя</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patronymic">Отчество</label>
        <input asp-for="Patronymic" />
        <span asp-validation-for="Patronymic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth">Дата рождения</label>
        <input asp-for="DateOfBirth" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DocSeries">Серия документа</label>
        <input asp-for="DocSeries" />
        <span asp-validation-for="DocSeries" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DocNumber">Номер документа</label>
        <input asp-for="DocNumber" />
        <span asp-validation-for="DocNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Position">Должность</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentId">Департамент:</label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))">
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Создать" class="btn" />
        <a asp-action="EmployeesByDepartment" class="btn">Отмена</a>
    </div>
</form>
